#newstitle {
  color: blue;
}
#plusbtn{
  visibility: hidden;
}
#D.accordion-item{
  background-color: orange;
}
#E.accordion-item{
  background-color: orange;
}
#F.accordion-item{
  background-color: orange;
}
#I.accordion-item{
  background-color: orange;
}
#L.accordion-item{
  background-color: orange;
}
#Sp.accordion-item{
  background-color: orange;
}
#Gg.accordion-item{
  background-color: orange;
}
#G.accordion-item{
  background-color: orange;
}
#M.accordion-item{
  background-color: pink;
}
#GM.accordion-item{
  background-color: orange;
}
#AM.accordion-item{
  background-color: orange;
}
#B.accordion-item{
  background-color: orange;
}
#Ch.accordion-item{
  background-color: orange;
}
#Ph.accordion-item{
  background-color: orange;
}
#BG.accordion-item{
  background-color: orange;
}
#T.accordion-item{
  background-color: orange;
}
#panel{
  background-color: white;
}
