#newstitle {
  color: blue;
}
#plusbtn{
  visibility: hidden;
}
#D.accordion-item{
  background-color: #92B558;
}
#E.accordion-item{
  background-color: #DC4C46;
}
#F.accordion-item{
  background-color: #672E3B;
}
#I.accordion-item{
  background-color: #F3D6E4;
}
#L.accordion-item{
  background-color: #C48F65;
}
#Sp.accordion-item{
  background-color: #223A5E;
}
#Gg.accordion-item{
  background-color: #898E8C;
}
#G.accordion-item{
  background-color: #005960;
}
#M.accordion-item{
  background-color: #9C9A40;
}
#GM.accordion-item{
  background-color: #4F84C4;
}
#AM.accordion-item{
  background-color: #D2691E;
}
#B.accordion-item{
  background-color: #004B8D;
}
#Ch.accordion-item{
  background-color: #95DEE3;
}
#Ph.accordion-item{
  background-color: orange;
}
#BG.accordion-item{
  background-color: orange;
}
#T.accordion-item{
  background-color: orange;
}
#my-list{
  background-color: green;
}
